img {
  width: 100px;
}

.white {
  color: white;
}

nav {
  position: sticky;
  top: 0;
  padding: 0 5vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0b1215;
}

nav > ul > * {
  margin: 0 10px;
  text-decoration: none;
}
